In [1]:
import torch
import numpy as np
import pandas as pd
from torch import nn
from sklearn.metrics import r2_score
from mlp_explainer.researcher import Researcher
from torch.utils.data import DataLoader, Dataset
from mlp_explainer.build_model import BuildModel
from mlp_explainer.synthetic_data import SyntheticData

In [38]:
identifier = "experiment_2"
experiment_2 = Researcher(identifier)

In [39]:
exp_2_syndata = SyntheticData(identifier)
exp_2_syndata.create_dataset()
exp_2_syndata.save()

In [40]:
experiment_2.init()

In [41]:
data = pd.read_csv('data/experiment_2_dataset.csv'); data

,X_2,X_3,X_7,X_5,X_9,X_0,X_1,X_4,X_6,X_8
0,-1.544286,-0.703792,-0.024571,0.394632,-0.049140,-1.436700,-0.476380,0.034107,1.134604,0.965133
1,0.439385,-0.763486,-1.072387,-1.569455,0.871970,-0.450807,1.351853,-1.146511,0.530471,-0.055849
2,0.439737,-0.547153,-2.226854,0.299551,0.704999,-0.769001,1.051155,-1.056905,1.384040,1.274702
3,-0.139531,-0.809373,1.298033,0.334420,0.816408,-0.495944,-0.218451,-0.302053,2.105001,2.259932
4,-1.363163,-0.609197,-1.375632,2.406638,0.052964,-0.426648,-0.836872,0.092563,1.200936,0.854986
...,...,...,...,...,...,...,...,...,...,...
4091,-2.032296,-0.651867,2.055273,-1.312478,0.599877,-0.121580,-0.592167,-0.072250,1.205105,1.296703
4092,-1.036562,-0.666745,-3.247179,-0.778450,0.396099,-0.756450,-0.706755,-0.238405,1.714310,1.428616
4093,-0.271178,-0.748534,0.182143,-1.488808,0.327807,-1.032449,0.383339,-0.904583,-0.275955,-0.560975
4094,0.450985,-0.620737,-2.957854,-0.162947,0.513726,-0.537552,0.433912,-0.771282,0.802723,0.562235
4095,0.275491,-0.699485,-0.948956,1.933530,0.373198,0.313097,-0.136476,-0.457448,0.542829,0.324266

In [42]:
class MLP(nn.Module):
    def __init__(self, num_features):

        super().__init__()
        self.first = nn.Linear(num_features, 12, True)
        self.second = nn.Linear(12, 16, True)
        self.third = nn.Linear(16, 12, True)
        self.last = nn.Linear(12, 1, True)
        
        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):

        x = self.relu(self.first(x))
        x = self.sigmoid(self.second(x))
        x = self.sigmoid(self.third(x))
        x = self.last(x)
        
        return x

In [43]:
model = MLP(data.shape[1] - 1)

In [44]:
build_model = BuildModel(model, data, identifier)

In [45]:
print(f'Features: {build_model.features}')
print(f'Target: {build_model.target}')

Features: [array(['X_2', 'X_3', 'X_5', 'X_9', 'X_0', 'X_1', 'X_4', 'X_6', 'X_8'],
      dtype=object)]
Target: X_7